{
  "token": "",
  "spamCatcherChannelId": "",
  "guildId": "",
  "linkRegex": "",
  "warnChannelId": "",
  "clientOptions": {
    "intents": [
      "8",
      "GUILD_PRESENCES", "GUILD_MEMBERS"
    ]
  },
  "cleanRolesJob": {
    "cron": "* * * * *",
    "roles": [
      "",""
    ]
  },
  "warnSpamChannel": {
    "cron": "*/2 * * * *",
    "spamCatcherChannelId": ""
  }
}